RECALLAI_API_URL=https://us-west-2.recall.ai
RECALLAI_API_KEY=recall_api_key
RECALLAI_TRANSCRIPT_PROVIDER=deepgram_streaming
RECALLAI_TRANSCRIPT_PROVIDER_CONFIG={"model":"nova-3","language":"multi","diarize":true}

OPENROUTER_KEY=open_api_key
OPENROUTER_MODEL=anthropic/claude-3.7-sonnet
